* {
    margin: 0;
    padding: 0;
}

#main {
    -webkit-column-width: 202px;
    -moz-column-width: 202px;
    -o-column-width: 202px;
    -ms-column-width: 202px;
    /* -webkit-column-count:6;
	-moz-column-count:6;
	-o-column-count:6;
	-ms-column-count:6; */
	-webkit-column-rule: 2px dotted #ccc;
	-moz-column-rule: 2px dotted #ccc;
	-o-column-rule: 2px dotted #ccc;
	-ms-column-rule: 2px dotted #ccc;
	-webkit-column-gap: 5px;
	-moz-column-gap: 5px;
	-o-column-gap: 5px;
	-ms-column-gap: 5px;
}

.box {
    padding: 15px 0 0 15px;
}

.pic {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    width: 165px;
}

.pic img {
    width: 165px;
    height: auto;
}
